# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: prometheus-config
#   namespace: observability
# data:
#   prometheus.yml: |
#     global:
#       scrape_interval: 15s

#     scrape_configs:
#       - job_name: "node-exporter"
#         static_configs:
#           - targets: ['node-exporter.observability.svc.cluster.local:9100']


apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "node-exporter"
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names:
                - observability
        relabel_configs:
          - source_labels: [__meta_kubernetes_endpoints_name]
            action: keep
            regex: node-exporter
          - source_labels: [__meta_kubernetes_endpoint_address_target_name]
            target_label: node

      - job_name: "kube-state-metrics"
        static_configs:
          - targets: ['kube-state-metrics.observability.svc.cluster.local:8080']
