apiVersion: apps/v1
kind: Deployment
metadata:
  name: teemii-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend-app
          image: dokkaner/teemii-frontend
---
apiVersion: v1
kind: Service
metadata:
  name: teemii-frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080