<!DOCTYPE html>
<html>
  <head>
    <title>Dereck's Web Server</title>
  </head>
  <body style="font-family: Arial; text-align:center; margin-top: 50px;">
    <h1>¡Hi From The Web Server {{ inventory_hostname }}!</h1>
    <p>This server was configured automatically with Ansible!.</p>
  </body>
</html>
