apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-frontend
spec:
  replicas: {{ .Values.frontend.replicas }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      initContainers:
        - name: wait-backend
          image: busybox
          command:
            - sh
            - -c
            - |
              until nc -z {{ .Release.Name }}-backend {{ .Values.backend.port }};
              do echo "waiting for backend"; sleep 2; done;

      containers:
        - name: frontend-app
          image: {{ .Values.frontend.image }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: {{ .Values.frontend.port }}
    targetPort: {{ .Values.frontend.port }}
    nodePort: {{ .Values.frontend.nodeport }}